body{  
    margin: 0;  
    padding: 100px 0 50px 0;  
}  
* html body{  
    overflow: hidden;  
}   
div#headerArea {  
    position: fixed !important;  
    position: absolute;  
    top: 0;  
    left: 0;  
   width: 100%;  
    height: 100px;  
    background-color: #4E9ABE;  
    color: #fff;
    <!--  background: url('../images/ui.PNG'); -->
    <!-- background-size: cover; -->
    <!-- background-position: 150% 80%; --> 
  
}  